// Overall colors
@color-custom-blue: #0156FF;
@color-custom-grey: #A2A6B0;
@color-custom-grey-light: #F5F7FF;
@color-custom-ghost: #CACDD8;

// Header variables
@header-panel__background-color: #020202;
@navigation-level0-item__color: @color-black;
@navigation-desktop-level0-item__color: @color-black;
@footer__responsive-background-color: #020203;

// Footer variables

@footer__main-color: @color-white;
@footer__background-color: #020203;
@footer-links-color: @color-white;
@footer-links-color-current: @color-white;
//@footer-links-separator-border-color: @color-gray-light4;
