@header-panel__background-color: #020202;

& when (@media-common = true) {

    .page-wrapper {
        .page-header {
            .panel.wrapper {
                border: none;
            }

            .header.content {
                display: flex;
                align-items: center;
                padding: 0;
                margin: auto;
                max-width: 1200px;
                width: 100%;

                .logo {
                    float: none;
                    display: block;
                    margin: 0;
                    width: 34px;
                    height: 41px;
                }

                .minicart-wrapper {
                    margin-left: 30px;
                    clear: right;
                    order: 3;
                    z-index: 101;

                    .action.showcart {
                        &:before {
                            position: relative;
                            content: "";
                            background: url('@{baseDir}Magento_Theme/images/jam_shopping-cart.svg') no-repeat;
                            width: 25px;
                            height: 25px;
                        }

                        .counter.qty {
                            position: absolute;
                            bottom: 60%;
                            left: 65%;
                            margin: 0;
                            min-width: auto;
                            width: 16px;
                            height: 16px;
                            padding: 0;
                            border-radius: 100%;
                            background: #0156FF;
                            line-height: normal;

                            .counter-number {
                                text-shadow: none;
                            }
                        }
                    }
                }

                .block-search {
                    clear: right;
                    order: 2;
                    display: none;

                    .block-content {
                        .form.minisearch {
                            .field.search {
                                input {
                                    width: 1126px;
                                    height: 60px;
                                    border: none;
                                    border-radius: 31px;
                                    background: #F5F7FF;
                                    z-index: 50;

                                    &::placeholder {
                                        font-family: Poppins, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #A2A6B0;
                                    }
                                }
                            }

                            .actions {
                                .action.search {
                                    opacity: 1;

                                    &:before {
                                        position: relative;
                                        content: "";
                                        background: url('@{baseDir}Magento_Theme/images/loup.svg') no-repeat;
                                        width: 17px;
                                        height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }

                .nav-sections {
                    order: 1;
                    margin: 0;

                   .navigation {
                       background: @color-white;
                   }
                }

                .header.links {
                    position: absolute;
                    top: 12%;
                    right: 30%;
                    padding: 0;
                    margin: 0 0 0 30px;
                    background: @color-white;
                    list-style: none;
                    z-index: 100;

                    .greet.welcome {
                        &:before {
                            content: '\f2bd';
                            font-family: "Font Awesome 5 Free";
                            font-size: 25px;
                        }

                        .logged-in {
                            display: none;
                        }
                    }

                    .customer-welcome {
                        .action.switch:after {
                            color: @color-black;
                        }
                    }
                }
            }
        }
    }
}
