& when (@media-common = true) {
    .peripherals-block__container {
        max-width: 1400px;
        color: @color-black;

        .peripherals-block__heading {
            margin-bottom: 2rem;
            font-size: 2.2rem;
            font-weight: @font-weight__semibold;
        }

        .peripherals-block__items {
            max-width: 1295px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            margin: 0 auto;

            .peripherals-block__item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 225px;
                height: 322px;
                border: none;
                cursor: pointer;

                .item__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 1rem 2.5rem;
                    font-weight: @font-weight__regular;
                    text-align: center;

                    &-text {
                        margin-bottom: 1rem;
                        font-size: 1.2rem;
                    }

                    &-date {
                        font-size: 1rem;
                        color: @color-custom-grey;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
// Tablet
//  _____________________________________________

& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: @screen__l) {

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}
